.nav-border {
  border-right: 1px solid #98999b;
}
.gradient {
  background: -webkit-linear-gradient(#f2f2f2, #d9d9d9);
  /* For Safari */
  background: -o-linear-gradient(#f2f2f2, #d9d9d9);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f2f2f2, #d9d9d9);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f2f2f2, #d9d9d9);
  /* Standard syntax (must be last) */
}
.gradient-nav {
  background: -webkit-linear-gradient(#d5d6d8, #bbbcbf);
  /* For Safari */
  background: -o-linear-gradient(#d5d6d8, #bbbcbf);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#d5d6d8, #bbbcbf);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#d5d6d8, #bbbcbf);
  /* Standard syntax (must be last) */
}
.wrapper-size {
  margin: 0 auto;
  width: 960px;
  max-width: 100%;
}
body {
  background-color: #ffffff;
  color: #111111;
}
#header {
  color: #2d66cf;
  padding: 14px 0 0 0;
  background: -webkit-linear-gradient(#f2f2f2, #d9d9d9);
  /* For Safari */
  background: -o-linear-gradient(#f2f2f2, #d9d9d9);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#f2f2f2, #d9d9d9);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#f2f2f2, #d9d9d9);
  /* Standard syntax (must be last) */
}
#accessibility {
  font-size: 0.78em;
}
#accessibility a {
  color: #2d66cf;
}
#accessibility a span {
  background: #5584da;
  color: #f2f2f2;
}
#portal-siteactions {
  border-bottom: 1px dotted #2d66cf;
}
#portal-siteactions a,
#portal-siteactions a:hover,
#portal-language a,
#portal-language a:hover {
  color: #2d66cf !important;
}
#header h1,
#header a {
  color: #2d66cf !important;
}
#logo a,
#logo #portal-title {
  color: #2d66cf !important;
}
#portal-title {
  margin-bottom: 25px;
}
#navigation {
  background: -webkit-linear-gradient(#d5d6d8, #bbbcbf);
  /* For Safari */
  background: -o-linear-gradient(#d5d6d8, #bbbcbf);
  /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(#d5d6d8, #bbbcbf);
  /* For Firefox 3.6 to 15 */
  background: linear-gradient(#d5d6d8, #bbbcbf);
  /* Standard syntax (must be last) */
}
#portal-globalnav {
  clear: both;
  font-size: 1em;
  background: transparent;
  margin: auto;
}
#portal-globalnav li a {
  display: inline;
  padding: 0;
  background: transparent;
  border-right: 0;
}
#portal-globalnav .selected a,
#portal-globalnav a:hover,
#portal-globalnav .selected a:hover {
  background: transparent;
}
#navigation ul {
  line-height: 20px;
  padding: 5px 0;
  min-height: 18px;
  margin: 0 auto;
  width: 960px;
  max-width: 100%;
}
#wrapper-barra-brasil ul.list {
  line-height: 32px !important;
  width: inherit !important;
}
#navigation li {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px solid #98999b;
}
#navigation li.last-item {
  border-right: none;
}
#main {
  margin: 0 auto;
  width: 960px;
  max-width: 100%;
  background: #ffffff;
}
div.position-0 {
  margin-left: -100%;
}
div.position-5 {
  margin-left: -65.61%;
}
div.position-10 {
  margin-left: -31.2%;
}
div.width-full {
  width: 100%;
}
div.width-5 {
  width: 31.2%;
}
div.width-10 {
  width: 65.61%;
}
div.width-16 {
  width: 100%;
}
.ministerios {
  background: #f2f2f2;
}
.ministerios ul {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}
.ministerios li {
  width: 21%;
  float: left;
  margin: 2%;
  text-align: center;
}
.ministerios a {
  color: #0042b2;
}
.ministerios a span:last-child {
  display: block;
  font-weight: bold;
}
#footer {
  padding: 0 0 20px 0 !important;
}
#wrapper #footer .footer-logos {
  background: #0042b2;
}
/* tiles */
.tile a {
  color: #162937 !important;
}
.cover-background-image .cover-richtext-tile {
  background: #ffffff;
  padding: 10px;
}
.cover-background-image .laranja .tile-content,
.cover-background-image .azul-petroleo .tile-content,
.cover-background-image .dourado .tile-content,
.cover-background-image .roxo .tile-content,
.cover-background-image .marrom-claro .tile-content,
.cover-background-image .verde-escuro .tile-content,
.cover-background-image .verde .tile-content,
.cover-background-image .azul .tile-content,
.cover-background-image .marrom .tile-content,
.cover-background-image .verde-claro .tile-content,
.cover-background-image .azul-claro .tile-content,
.cover-background-image .azul-escuro .tile-content,
.cover-background-image .azul-turquesa .tile-content,
.cover-background-image .bege .tile-content {
  background: #ffffff;
  padding: 15px 5px;
  margin-top: -23px;
  margin-bottom: -24px;
}
/* Contraste */
.contraste .ministerios,
.contraste .cover-background-image .cover-richtext-tile {
  background: #000 !important;
  color: #fff !important;
}
.contraste #header a {
  color: #fff !important;
}
.contraste #navigation,
.contraste #navigation ul,
.contraste #header nav ul a {
  background: #333 !important;
  color: #fff !important;
}
.contraste .laranja .tile-content,
.contraste .azul-petroleo .tile-content,
.contraste .dourado .tile-content,
.contraste .roxo .tile-content,
.contraste .marrom-claro .tile-content,
.contraste .verde-escuro .tile-content,
.contraste .verde .tile-content,
.contraste .azul .tile-content,
.contraste .marrom .tile-content,
.contraste .verde-claro .tile-content,
.contraste .azul-claro .tile-content,
.contraste .azul-escuro .tile-content,
.contraste .azul-turquesa .tile-content,
.contraste .bege .tile-content {
  background: #000;
}
/* Responsivo */
@media only screen and (min-width: 320px) and (max-width: 768px) {
  .cover-background-image {
    background: #ffffff !important;
  }
  .contraste .cover-background-image {
    background: #000 !important;
  }
  .spacer-tile {
    height: auto !important;
  }
  .ministerios li {
    width: 46%;
    margin: 2%;
  }
  .menuTrigger {
    background: #d9d9d9 url("img/bg-menu-mobile.png") top right no-repeat;
  }
  #navigation ul {
    display: none;
  }
  #navigation.ativo ul {
    display: block;
  }
  #navigation ul li {
    display: block;
    padding: 1em;
    font-weight: bold;
    font-size: 1.5em;
    border: none;
  }
  .spacer-tile .hiddenStructure {
    height: auto;
    overflow: visible;
    padding: 1em;
    margin: 0;
    width: auto;
    font-weight: bold;
    font-size: 1.5em;
  }
}
